.menu-btn {
  display: none;
  position: relative;
  z-index: 2;
  width: 50px;
  height: 50px;
  background: center / cover url('../../images/menu-icon.svg') no-repeat;
}

.menu {
  display: block;
  max-width: 300px;
  width: 100%;
  height: calc(100vh - 80px);
  box-shadow: 0px 0px 5px rgba(2, 0, 96, 0.25);
  padding: 24px 0 24px 32px;
  overflow: auto;
  box-sizing: border-box;
}

.menu_type_mobyle {
  display: none;
  position: absolute;
  background: #fff;
  padding-left: 50px;
}

.menu::-webkit-scrollbar { 
  width: 0; 
}

.menu__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin: 0 0 32px;
}

.menu__link {
  cursor: pointer;
  display: flex;
  align-items: center;
  margin: 0 0 40px;
  padding: 0 34px 0 0;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #1C1C1E;
  text-decoration: none;
}

.menu__link:hover {
  background: right / 3px 100% url('../../images/active-right-line.svg') no-repeat;
}

.menu__link:last-of-type {
  margin-bottom: 0;
}

.menu__link_type_nested {
  margin: 32px 0 0;
}

.menu__link_active {
  background: right / 3px 100% url('../../images/active-right-line.svg') no-repeat;
}

.menu__logo {
  width: 32px;
  height: 32px;
  object-position: center;
  object-fit: contain;
  margin: 0 16px 0 0;
}

.menu__link-text {
  margin: 0;
}

.menu__settings {
  background: right 20px top 50% / 15px 15px url('../../images/settings-marker.svg') no-repeat;
  padding-right: 20px;
  box-sizing: border-box;
}

.menu__settings:hover {
  background: right 20px top 50% / 15px 15px url('../../images/settings-marker.svg') no-repeat;
}

.menu__settings-block {
  display: none;
  padding: 0 0 40px 48px;
  box-sizing: border-box;
}

.menu__settings-block_active {
  display: block;
}

@media (max-width: 768px) {
  .menu_type_desktop {
    display: none;
  }

  .menu_type_mobyle_active {
    display: block;
  }

  .menu-btn_active {
    display: block;
  }

  .menu__link {
    font-size: 14px;
    line-height: 18px;
  }

  .menu {
    height: calc(100vh - 64px);
  }
}